In [5]:
import pandas as pd

'3.6.0 |Anaconda 4.3.0 (32-bit)| (default, Dec 23 2016, 12:06:52) [MSC v.1900 32 bit (Intel)]'

In [27]:
df = pd.DataFrame()
df['fecha1'] = pd.date_range('1/12/2015', periods=20, freq='H')
df['fecha2'] = pd.date_range('1/13/2015', periods=20, freq='min')

df.head()

               fecha1              fecha2
0 2015-01-12 00:00:00 2015-01-13 00:00:00
1 2015-01-12 01:00:00 2015-01-13 00:01:00
2 2015-01-12 02:00:00 2015-01-13 00:02:00
3 2015-01-12 03:00:00 2015-01-13 00:03:00
4 2015-01-12 04:00:00 2015-01-13 00:04:00

In [29]:
df['fecha3'] = df['fecha2'] - df['fecha1']

df.head()

               fecha1              fecha2          fecha3
0 2015-01-12 00:00:00 2015-01-13 00:00:00 1 days 00:00:00
1 2015-01-12 01:00:00 2015-01-13 00:01:00 0 days 23:01:00
2 2015-01-12 02:00:00 2015-01-13 00:02:00 0 days 22:02:00
3 2015-01-12 03:00:00 2015-01-13 00:03:00 0 days 21:03:00
4 2015-01-12 04:00:00 2015-01-13 00:04:00 0 days 20:04:00

In [40]:
df['horas'] = df['fecha3'].apply(lambda x: x.seconds//3600)
df['minutos'] = df['fecha3'].apply(lambda x: (x.seconds//60)%60)
df['segundos'] = df['fecha3'].apply(lambda x: x.seconds)

df.head()

,fecha1,fecha2,fecha3,horas,minutos,segundos
0,2015-01-12 00:00:00,2015-01-13 00:00:00,1 days 00:00:00,0,0,0
1,2015-01-12 01:00:00,2015-01-13 00:01:00,0 days 23:01:00,23,1,82860
2,2015-01-12 02:00:00,2015-01-13 00:02:00,0 days 22:02:00,22,2,79320
3,2015-01-12 03:00:00,2015-01-13 00:03:00,0 days 21:03:00,21,3,75780
4,2015-01-12 04:00:00,2015-01-13 00:04:00,0 days 20:04:00,20,4,72240